<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
      function irParaMateriaPrima(){
        window.location = "/materiaprima"
      }
      function irPara(){
        window.location = "/materiaprima"
      }
      function irPara(){
        window.location = "/materiaprima"
      }
    </script>
  </head>
  <body>
    <h1>CONTROLE DE ESTOQUE</h1>
      <input type="button" value="Materia Prima" onclick="irParaMateriaPrima()">
      <input type="button" value="Produtos" onclick="irPara...()">
      <input type="button" value="Produtos a venda" onclick="irPara...()">
  </body>
</html>
